	<div class="navbar">

		<div class="logo">
			<div class="logo_img"></div>
			<span class="logo_name">Clearent</span>
		</div>

		<div class="wrapper_menu">

			<div class="menu">

				<!-- v-bind:class="{'menu_element_active':flats_btn_active}" -->
				<!-- :class="{'menu_element_active':isflats}" -->
				<!--:class="{'menu_element_active':isrent}"  -->
				<!-- :class="{'menu_element_active':ismycl}" -->
				<div class="menu_element"  @click="showflats()" >
					<router-link  to="/flats" class="menu_element_link" >Квартиры</router-link>
				</div>
	
				<div class="menu_element"  @click="showrenting()" >
					<router-link  to="/renting" class="menu_element_link">Арендующие</router-link>
				</div>
			
				<div class="menu_element" @click="showmyclients()">
					<router-link  to="/myclients" class="menu_element_link" >Мои клиенты</router-link>
				</div>	
					
			</div>
			<!-- :class="{'underline-one':isflats, 'underline-two':isrent, 'underline-three': ismycl }" -->
			<div class="wrapper_underline">
				<hr class="underline" >
			</div>
		</div>



		<div class="user">
			<div class="user_img"></div>
			<span class="user_username">Утин Владимир</span>
			<div class="user_dropdown_menu">
				<div>
					<i class="ic ic_user"></i><span>Профиль</span>
				</div>
				<div>
					<i class="ic ic_logout"></i><span>Выйти</span>					
				</div>
			</div>
		</div>

	</div>	