<div>
<div class="filter">
	<div class="search_block">
		<i class="ic ic_search"></i>
		<input class="search_input" type="text" name="" placeholder="Поиск">		
	</div>	
		<div class="wrapper-for-address-rooms-cost">
			<div class="address">
				<span>Адрес:</span>
				<input type="text" name="" placeholder="Открыть карту"  
				@click="showMap">
			</div>
			<div class="rooms">
				<span>Комнаты:</span>
				<div class="rooms_dropdown">
					<i class="dropdown_arrow"></i>
					<div class="rooms_dropdown_content">
						

						<label class="checkbox_container" v-for="room in rooms">{{ room.value }}
						  <input type="checkbox" @click="sortRoom(room.value)">
						  <span class="checkmark"></span>
						</label>

					</div>

				</div>
			</div>
			<div class="cost">
				<span>Стоимость:</span>
				<input class="cost_from" type="text"  placeholder="от"><div class="line"></div>
				<input class="cost_to" type="text"  placeholder="до">
				<button class="btn_clear_search"></button>
			</div>			
		</div>	
</div>
<div class="table_wrapper">
<table class="table_aparts">
	<thead>
		<tr>
			<th>#</th>
			<th class="aparts_th_date">дата</th>
			<th class="aparts_th_address">адрес</th>
			<th class="aparts_th_rooms">комнат</th>
			<th class="aparts_th_cost">стоимость</th>
			<th class="aparts_th_tel">телефон</th>
			<th class="aparts_th_photo">фото</th>
			<th class="aparts_th_buttons"></th>
		</tr>
	</thead>
	<tbody >
		<tr v-for="flat in flats">
			<td>{{ flat.id}}</td>
			<td>{{ flat.date}}</td>
			<td>{{ flat.address}}</td>
			<td>{{ flat.room_count}}</td>
			<td>{{ flat.price | toRUB(flat.price)}}</td>
			<td>{{ flat.tel | phone(flat.tel)}}</td>
			<td class="table_td_photo"><span  >{{flat.photo_count}}</span></td>			
			<td class="aparts_td_buttons">
				<button class="btn btn_send" @click="showModalTel">отправить</button>
				<button class="btn btn_moreInfo" @click="showModalAbout">подробнее</button>						
				<!-- <button class="btn btn_sent">отправлено</button> -->		
			</td>
			<td>			
				<transition name="fade">
					<modal-about 
						:date = "flat.date"
						:address = "flat.address"
						:rooms = "flat.room_count"
						:tel = "flat.tel"
						:price = "flat.price"
					v-show="ModalAbout" @closeAboutWindow="closeAboutWindow"></modal-about>
				</transition>
			</td>
			
	
			

		</tr>									
	</tbody>
</table>
</div>

<div v-show="modalMap" >
	<div class="wrapper_map">
		<button class="btn btn_close_el" @click="closeMap" ></button>	
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A85825c7754233e7384ec642cb9cd2723bb3dd681a027800214330593920d4143&amp;source=constructor" 
		width="1280" height="720" frameborder="0"></iframe>
	</div>
</div>
<transition name="fade">
	<sendData v-show="ModalTel" @closeMW="closeModalTel"></sendData>
</transition>




</div>