<div>
<div class="filter">

	<div class="search_block">
		<i class="ic ic_search"></i>
		<input class="search_input" type="text" name="" placeholder="Поиск">		
	</div>	
	
	<div style="margin-left:108px; display:flex; justify-content:space-between; width:95%;">
		<div class="wrapper_for_filter_elements">
			<div class="wrapper_data">
				<div class="data_title">Дата:</div>

				<div class="wrapper_input_range">
					<input class="input_range_united" type="input" placeholder="13.06.17-17.09.17">	
					<button class="btn btn_clear_search"></button>
				</div>
						
			</div>
		</div>
		<button class="btn btn_addClient btn_width-200px" @click="showMW" >добавить клиента</button>

	</div>	
</div>	
<div class="table_wrapper">
	<table class="table_MyClients">
		<thead>
			<tr>
				<th>#</th>
				<th>дата</th>
				<th>телефон</th>
				<th>квартиры</th>
				<th>стоимость</th>
				<th>статус</th>
				<th></th>				
			</tr>

		</thead>
		<tbody>
			<tr v-for="client in clients">
				<td >{{ client.id }}</td>
				<td >{{ client.date }}</td>
				<td >{{ client.tel | phone(client.tel) }}</td>
				<td >А43,В32</td>
				<td ><input class="table_cost" type="text" placeholder="0 p"></td>
				<td class="table_td_status">
				<div style="width: 144px; position:relative;">

					<div class="dropdown_status_header" @click="showMenu">
						<div class="wrapper_status_name">
							<i class="status_circle" v-if="selected=='Выбрать'"></i>
							<i class="status_circle_blue" v-if="selected=='Переговоры'"></i>
							<i class="status_circle_yellow" v-if="selected=='Встреча'"></i>
							<i class="status_circle_red" v-if="selected=='Отказ'"></i>
							<i class="status_circle_green" v-if="selected=='Успешно'"></i>
							<div class="status_header_name">{{selected}}</div>
						</div>

						<!-- <i class="status_header_name">{{selected}}</i> -->
						<div :class="{'status_header_arrowUp':isMenu, 'status_header_arrowDown':!isMenu}"></div>
					</div>
					<transition name="slide-fade">
						<div class="dropdown_status_menu" v-if="isMenu">
							<div class="status_menu_elem" @click="closeMenu()">
								<div class="status_circle_blue"></div>
								<input class="status_input" type="radio" value="Переговоры" id="talks" v-model="selected">
								<label class="status_name" for="talks">Переговоры</label>
							</div>
							<div class="status_menu_elem" @click="closeMenu()">
								<div class="status_circle_yellow"></div>
								<input class="status_input" type="radio" value="Встреча" id="meet" v-model="selected">
								<label class="status_name" for="meet">Встреча</label>								
							</div>
							<div class="status_menu_elem" @click="closeMenu()">
								<div class="status_circle_red"></div>
								<input class="status_input" type="radio" value="Отказ" id="decline" v-model="selected">
								<label class="status_name" for="decline">Отказ</label>								
							</div>
							<div class="status_menu_elem" @click="closeMenu()">
								<div class="status_circle_green"></div>
								<input class="status_input" type="radio" value="Успешно" id="success" v-model="selected">
								<label class="status_name" for="success">Успешно</label>								
							</div>						
						</div>
					</transition>	

							
				</div>
				</td>
				<td class="MyClients_td_buttons">
					<!-- <button class="btn btn_find_apartment btn_width-144px" to="/flats">подобрать квартиру</button> -->
					<router-link class="a_find_apart" to="/flats" >подобрать квартиру</router-link>
				</td>									
			</tr>

						
		</tbody>
	</table>
</div>
<transition name="fade">
	<sendData v-show="ModalTel" @closeMW="closeMW"></sendData>
</transition>		
</div>