<div>
<div class="filter">

	<div class="search_block">
		<i class="ic ic_search"></i>
		<input class="search_input" type="text" name="" placeholder="Поиск">		
	</div>	
	
	<div style="margin-left:108px; display:flex; justify-content:space-between; width:95%;">
		<div class="wrapper_for_filter_elements">
			<div class="wrapper_data">
				<div class="data_title">Дата:</div>

				<div class="wrapper_input_range">
					<input class="input_range_united" type="input" placeholder="13.06.17-17.09.17">	
					<button class="btn btn_clear_search"></button>
				</div>
						
			</div>
		</div>
		<button class="btn btn_addClient btn_width-200px">добавить клиента</button>

	</div>	
</div>	
<div class="table_wrapper">
	<table class="table_MyClients">
		<thead>
			<tr>
				<th>#</th>
				<th>дата</th>
				<th>телефон</th>
				<th>квартиры</th>
				<th>стоимость</th>
				<th>статус</th>
				<th></th>				
			</tr>

		</thead>
		<tbody>
			<tr>
				<td >1</td>
				<td >Только что</td>
				<td >+7 1234 56 78 90</td>
				<td >А43,В32</td>
				<td ><input class="table_cost" type="text" placeholder="0 P"></td>
				<td class="table_td_status">
				<div style="width: 144px;">
					<div class="dropdown_status_header">
						<i class="status_header_name">Выбрать</i>
						<div class="status_header_arrowDown"></div>
					</div>		
				</div>
				</td>
				<td class="MyClients_td_buttons">
					<button class="btn btn_find_apartment btn_width-144px">подобрать квартиру</button>						
				</td>									
			</tr>

						
		</tbody>
	</table>
</div>		
</div>