<div>
<div class="filter">

	<div class="search_block">
		<i class="ic ic_search"></i>
		<input class="search_input" type="text" name="" placeholder="Поиск">		
	</div>	
	
	<div style="margin-left:108px;">
		<div class="wrapper_for_filter_elements">
			<div class="wrapper_data">
				<div class="data_title">Дата:</div>

				<div class="wrapper_input_range">
					<input class="input_range_united" type="input">	
					<button class="btn btn_clear_search"></button>
				</div>
						
			</div>
		</div>
	</div>	
</div>	
<div class="table_wrapper">
	<table class="table_renting">
		<thead>
			<tr>
				<th>#</th>
				<th>дата</th>
				<th>адрес</th>
				<th>комнат</th>
				<th>стоимость</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="rent in rentes">
				<td id="rentID">{{ rent.id }}</td>
				<td>{{ rent.date}}</td>
				<td>{{ rent.address}}</td>
				<td>{{ rent.room_count}}</td>
				<td>{{ rent.price }}</td>
				<td class="renting_buttons">
					<button class="btn btn_select" id="btnselect" @click="addtoMycl">выбрать</button>
					<!-- <button class="btn btn_added">добавлен</button> -->					
				</td>
			</tr>
																				
		</tbody>
	</table>

</div>	
</div>